* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}


.wrapper{
   width: 500px;
   border-radius: 10px;
}


.month {
    padding: 70px 25px 35px 25px;
    width: 100%;
    background: var(--second-bg-color);
    text-align: center;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Month list */
.month div {
    margin-top: -24px;
    padding: 0;  
}

/* prev button */
.icons #prev {
    float: left;
}

/* Next button */
.icons #next {
    float: right;
}

.weeks {
    margin: 0;
    padding: 10px 0;
    background-color: var(--text-color);
}

.weeks li {
    position: relative;
    display: inline-block;
    width: calc(90% / 7);
    text-align: center;
    color: var(--second-bg-color);
}

.days {
    padding: 25px 0;
    background: #eee;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: calc(97% / 7);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: var(--bg-color);
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}

.days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}

.days li:hover::before{
    background: #f2f2f2;
}

/* .days li.active{
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
    background-color: #112e42 !important;
    color: var(--text-color);

} */

.days li.active{
    border-radius: 10px;
    background: #112e42 !important;
    color: var(--text-color);
  
}

.days li.inactive {
    color: #777 !important;
}