


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}

body {
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}


.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 9%;
    background:var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;  
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600px;
}

input:invalid{
    border-color: rgb(233, 169, 169);
}

.error{
    border-color: rgb(233, 169, 169);
}

.navbar a{
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 1.5rem;
    transition: .3s;
}


.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  gap: 10px;
  padding: 10px;
}

main{
    margin: 0;
    padding: 5px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-text p {
    font-size: 0.8rem;
    margin-left: 75px;
    background-color: var(--bg-color);
}



.container {

    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--second-bg-color);
    overflow: hidden;
    margin: 0 20px;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.container .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
 
}

/* .container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
} */

.container .forms {
    height: 600px;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: var(--bg-color);
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: var(--bg-color);
}

.input-field label {
    position: absolute;
    top: -10%;
    transform: translateY(-50%);
    color: var(--bg-color);
    font-size: 16px;
    transition: all 0.2s ease;
    left: 0;
}


.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid)~i {
    color: var(--bg-color);
}

.input-field i.icon {
    left: 0;
}

.input-field i.showrigth {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: var(--bg-color);
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: var(--bg-color);
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--bg-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: var(--second-bg-color);
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

.profile {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    border-radius: 10px;
    font-size: 25px;
}

.profile i.imag{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    font-size: 110px;
}

.profile h1 {
    margin: 10px 0;
}

.profile p {
    color: #888;
    font-size: 12px;
    margin: 20px;
}

.profile-actions {
    margin-top: 20px;
}

.profile-header {
    display: flex;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.close-icon {
    text-align: right;
    margin-top: -20px;
}

.fa-times {
    font-size: 24px;
    color: #e74c3c;
    cursor: pointer;
}