
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --bg-color:#081b29;
  --second-bg-color:#112e42;
  --text-color:#ededed;
  --mainTable-color:#00abf0;
}

body {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}


.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 9%;
  background:var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;  
}

.logo{
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600px;
}

input:invalid{
  border-color: rgb(233, 169, 169);
}

.error{
  border-color: rgb(233, 169, 169);
}

.navbar a{
  font-size: 1.1rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 1.5rem;
  transition: .3s;
}


.navbar a:hover,
.navbar a.active{
  color: var(--mainTable-color);
}

.header { grid-area: header; }
.mainTable { grid-area: mainTable; }
.footer { grid-area: footer; }

.grid-container {
display: grid;
grid-template-areas:
  'header header header header header header'
  'mainTable mainTable mainTable mainTable mainTable mainTable'
  'footer footer footer footer footer footer';
gap: 10px;
padding: 10px;
}

mainTable{
  margin: 0;
  padding: 5px;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-text p {
  font-size: 0.8rem;
  margin-left: 75px;
  background-color: var(--bg-color);
}


#employees {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
  }
  
  #employees td, #employees th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #employees tr:nth-child(even){background-color: #f2f2f2;}
  
  #employees tr:hover {background-color: #ddd;}
  
  #employees th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--second-bg-color);
    color: white;
  }